body {
  background-color: #f4f0ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none;
}

.btn-purple {
  background-color: #6a0dad;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-purple:hover {
  background-color: #5900b3;
  color: #fff;
}
